html {
    scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #444;
  font-size: 16px;
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, 'ＭＳ Ｐゴシック', sans-serif, 'ロウディ EB';
  line-height: 1.42857;
  color: var(--main-text);
  background-color: var(--main-bg);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:0;
}
/* ナビゲーション */
 .nav {
    z-index: 100;
    padding: 12px 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.nav-group>li {
    margin: 0;
    padding: 0 12px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.nav-group>li a {
    display: block;
    padding: 6px 12px;
    color: #333;
    text-decoration: none;
}

.nav-group>li a:hover {
    color: #999;
}

.nav-group>li a.active {
    border-bottom: #333 solid 2px;
    color: #999;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #2b2b2b;
      color: #FFFFFF;
    }
    .footer {
      background-color: #2b2b2b;
      color: #FFFFFF;
    }
  }

/* フッター */

        .footer {
            padding: 12px 0;
            border-top: #ccd1d9 solid 1px;
            background: #fff;
            text-align: center;
        }

        .footer-nav {
            margin-bottom: 12px;
            width: 100%;
            text-align: center;
        }

        .footer-nav-group {
            margin: 0;
            padding: 0;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
        }

        .footer-nav-group>li {
            margin: 0;
            padding: 0 6px;
            font-size: 0.9em;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
        }

        .footer-nav-group>li a {
            color: #666;
            text-decoration: none;
        }

        .footer-nav-group>li a:hover {
            color: #999;
        }

        .footer-copyright {
            color: #999;
            font-size: 0.8em;
        }
@media (hover: hover) and (pointer: fine) {
    .gotop:hover, .gotop:hover .pagetop__arrow {
        border-color: #3293e7;
    }
}

/*スマホ対応用レスポンシブ*/
@media screen and (min-width: 767px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 959px) {
    body {
	width: 768px; float: none;
	}
}
@media screen and (max-width: 480px) {
    body {
	width: 360px; float: none;
	}
}
/*追従するトップへ戻るボタン*/
.gotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.gotop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.gotop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
/*トップへ戻るボタンここまで*/
